# Variante de base : LCD / LVGL seulement.
# Utilisation : idf.py -B build-lcd-only -D SDKCONFIG_DEFAULTS='sdkconfig.defaults;sdkconfig.lcd-first.defaults' build
# CONFIG_LCD_TEST_LCD_WIFI_NIMBLE is not set
CONFIG_LCD_TEST_LCD_ONLY=y
